@import url(./reset.scss);
@import url(./variables.scss);

.flexBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.columnGapXs {
  column-gap: var(--column-gap-xs);
}
.rowGapSm {
  row-gap: var(--row-gap-sm);
}
.flexAlignCenter {
  display: flex;
  align-items: center;
}

.textNoWrap {
  white-space: nowrap;
}

.mainLayout {
  min-height: 100vh;
  height: 100%;
}

.marginBottomMd {
  margin-bottom: var(--margin-bottom-md);
}

.flexAlignJustifyCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

main {
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  flex: 1 0 auto;
  padding-top: calc(var(--navbar-height) + 20px);
  padding-bottom: 20px;
}

.content {
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: calc(var(--navbar-height) + 10px);
}

.marginBottomSm {
  margin-bottom: var(--margin-bottom-md);
}

.overlay {
  min-height: 100vh;
}

.widthFull {
  width: 100%;
}
