.tableOverlay {
  padding: 8px;
  background: linear-gradient(35deg, #2ac9de, #ed5db8);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  .btnPlus {
    margin-bottom: 8px;
    align-self: flex-end;
    font-size: 15px;
    font-weight: 600;
  }
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  max-width: 500px;
  width: 100%;
  align-items: center;
  margin: 0 auto;

  .btn {
    align-self: flex-start;
    background: linear-gradient(35deg, #2ac9de, #ed5db8);
    color: white;
    &:hover {
      color: white;
    }
  }
}

.table {
  overflow: auto;
  tr {
    td {
      background-color: white;
    }
  }
}
