.header {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 2;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  top: 0;
  height: var(--navbar-height);
  .logo {
    width: 25px;
    height: 25px;
    background: linear-gradient(35deg, #2ac9de, #ed5db8);
  }
  a {
    color: white;
  }
}
